language: python

python:
  - "2.7"
  - "3.5"

install:
  - pip install .
  - pip install -r requirements_dev.txt

script: pytest tests/tests_pytest --cov-config .coveragerc --cov=plexapi --cov-report=html

after_success:
    - coveralls