#---------------------------------------------------------
# PlexAPI requirements to run py.test.
# pip install -r requirements_dev.txt
#---------------------------------------------------------
flake8==7.1.1
pillow==11.0.0
pytest==8.3.2
pytest-cache==1.0
pytest-cov==6.0.0
pytest-mock==3.14.0
recommonmark==0.7.1
requests==2.32.3
requests-mock==1.12.1
sphinx==7.4.7
sphinx-rtd-theme==2.0.0
tqdm==4.66.5
websocket-client==1.8.0
