#---------------------------------------------------------
# PlexAPI core requirements.
# pip install -r requirments.txt
#---------------------------------------------------------
requests
tqdm
websocket-client