#---------------------------------------------------------
# PlexAPI core requirements.
# pip install -r requirments.txt
#---------------------------------------------------------
requests
websocket-client