#---------------------------------------------------------
# PlexAPI requirements to run py.test.
# pip install -r requirements_dev.txt
#---------------------------------------------------------
coveralls
flake8
pillow
pytest
pytest-cache
pytest-cov
pytest-mock<=1.11.1
recommonmark
requests
requests-mock
sphinx
sphinxcontrib-napoleon
sphinx-rtd-theme
tqdm
websocket-client
mock; python_version < '3.3'
