#---------------------------------------------------------
# PlexAPI requirements to build documentation.
# pip install -r requirments_doc.txt
#
# If testing locally:
# sudo apt-get install python3-sphinx
#---------------------------------------------------------
recommonmark
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
