#---------------------------------------------------------
# PlexAPI requirements to run py.test.
# pip install -r requirements_dev.txt
#---------------------------------------------------------
coveralls==3.1.0
flake8==3.9.2
pillow==8.2.0
pytest==6.2.4
pytest-cache==1.0
pytest-cov==2.12.1
pytest-mock<3.6.2
recommonmark==0.7.1
requests==2.25.1
requests-mock==1.9.3
sphinx==4.0.2
sphinx-rtd-theme==0.5.2
tqdm==4.61.0
websocket-client==1.1.0
