#---------------------------------------------------------
# PlexAPI core requirements.
# pip install -r requirements.txt
#---------------------------------------------------------
requests
tqdm
websocket-client
mock; python_version < '3.3'
